eigen*/**
eigen*
eigen-3.3.7/
build/*
dist/*
var/*
temp/*
**.pyc
**.log
**.csv
**.db
**.so
.eggs/
phongsurf.egg-info/
.python-version
.vscode
.clangd
tmp
*.pkl
compile_commands.json
stubs/*
settings.json
**.ipynb_checkpoints**
coverage_result
Pipfile
Pipfile.lock
pybind11
docs/build/
docs/source/api_reference/
.cache/
.coverage
